@import '../../SCSS/config.scss';

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  height: 70px;
  z-index: 1000;
  background-color: #F2F2F2;

  &--scroll {
    box-shadow: 0px 12px 15px -12px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 12px 15px -12px rgba(0, 0, 0, 0.36);
  }

  &__logo {
    margin-left: 3rem;
  }

  &__logo img {
    height: 50px;
  }

  &__pages {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;

    & > li {
      margin: 0 1rem;
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 18px;
    }

    & > li:last-of-type {
      margin-left: 1rem;
      margin-right: 0;
    }

    & > li:hover {
      cursor: pointer;
    }
  }
}

ul, li {
  margin-left: 1em;
}

@media only screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    height: 120px;

    &__logo {
      margin-top: 0.5rem;
      margin-left: 0;
    }

    &__pages {
      margin-top: 0.5rem;
      margin-right: 0;
    }
  }
}