@import '../../SCSS/config.scss';

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  z-index: 1000;

  &__logo {
    margin-left: 3rem;
  }

  &__logo img {
    height: 50px;
  }

  &__pages {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;

    & > li {
      margin: 0 1rem;
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 18px;
    }

    & > li:last-of-type {
      margin-left: 1rem;
      margin-right: 0;
    }

    & > li:hover {
      cursor: pointer;
    }
  }
}

ul, li {
  margin-left: 1em;
}