@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Roboto:wght@700&display=swap');

// Colors
$primary: #2731F2;
$secondary: #444DF2;
$accentColor1: #05DBF2;
$accentColor2: #29F294;
$backgroundColor: #F2F2F2;

$mainFont: 'Noto Sans JP', sans-serif;
$headerFont: 'Roboto', sans-serif;