@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Roboto:wght@700&family=Playfair+Display:wght@700&display=swap');

// Colors
$primary: #6368B0;
$secondary: #818AFC;
$accentColor1: #05DBF2;
$accentColor2: #29F294;
$backgroundColor: #F2F2F2;
$complimentaryColor: #FED08E;

$mainFont: 'Noto Sans JP', sans-serif;
$headerFont: 'Playfair Display', serif;